<div>
  <h1>Welcome</h1>
  {{#if userId}}

  <a href="/home">Home</a>
  <form action="" method="post">
    <a href="/logout">Logout</a>
  </form>

  {{/if}}
  <a href="/login">Login</a>
  <a href="/register">Register</a>

</div>