<div class="container">
  <h1 class="container__title">Home</h1>
  <div class="container__main">
    <ul>
      <li>Name: {{ user.name }}</li>
      <li>Email:{{ user.email }}</li>
    </ul>
    <div class="logout"><a href="/logout">Logout</a></div>
  </div>
</div>