<div class="login">
  <h1 class="login__heading">Login</h1>
  <form action="/login" method="post" class="login__main">
    <input type="text" placeholder="email" name="email" class="login__main--email">
    <input type="text" placeholder="password" name="password" class="login__main--password">
    <input type="submit" class="login__main--submit" />
    <a href="/register" class="login__main--register">Register</a>
  </form>
</div>