*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #ddd; }

.index {
  background-color: #336b87;
  text-align: center; }
  .index__title {
    display: inline-block;
    color: white;
    padding: 1.5rem; }
  .index__main {
    display: inline-block; }
  .index__sub {
    display: inline-block;
    float: right;
    padding: 2.2rem; }
    .index__sub--btn a {
      color: white;
      padding: 1rem;
      text-decoration: none;
      font-size: 1.4rem;
      letter-spacing: 0.2rem; }

.login {
  margin: 10rem auto;
  background-color: #336b87;
  width: 40rem;
  height: 35rem;
  display: flex;
  border-radius: 0.5rem;
  flex-direction: column;
  align-items: center; }
  .login__heading {
    padding: 1.5rem; }
  .login__main {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .login__main input {
      margin: 1rem;
      padding: 1rem;
      width: 135%;
      border: none;
      border-radius: 0.2rem;
      font-size: 1.4rem; }
    .login__main a {
      font-size: 1.4rem;
      color: white;
      margin-top: 1rem; }

.register {
  margin: 10rem auto;
  background-color: #336b87;
  width: 40rem;
  height: 35rem;
  display: flex;
  border-radius: 0.5rem;
  flex-direction: column;
  align-items: center; }
  .register__heading {
    padding: 1.5rem; }
  .register__main {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .register__main input {
      margin: 1rem;
      padding: 1rem;
      width: 135%;
      border: none;
      border-radius: 0.2rem;
      font-size: 1.4rem; }
    .register__main a {
      font-size: 1.4rem;
      color: white;
      margin-top: 1rem; }
