*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #ddd; }

.home {
  text-align: center; }
  .home__heading {
    background-color: #336b87;
    display: block;
    color: white;
    padding: 1.5rem; }
    .home__heading a {
      text-decoration: none;
      font-size: 1.3rem;
      color: white;
      float: right;
      margin-top: 0.8rem;
      margin-left: 2rem; }
  .home__main {
    display: inline-block; }
    .home__main ul {
      margin-top: 2rem;
      list-style-type: none;
      display: block; }
      .home__main ul li {
        color: #336b87;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.6;
        padding: 0.5rem; }

.login {
  margin: 10rem auto;
  background-color: #336b87;
  width: 40rem;
  height: 35rem;
  display: flex;
  border-radius: 0.5rem;
  flex-direction: column;
  align-items: center; }
  .login__heading {
    padding: 1.5rem; }
  .login__main {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .login__main input {
      margin: 1rem;
      padding: 1rem;
      width: 135%;
      border: none;
      border-radius: 0.2rem;
      font-size: 1.4rem; }
    .login__main a {
      font-size: 1.4rem;
      color: white;
      margin-top: 1rem; }

.register {
  margin: 10rem auto;
  background-color: #336b87;
  width: 40rem;
  height: 35rem;
  display: flex;
  border-radius: 0.5rem;
  flex-direction: column;
  align-items: center; }
  .register__heading {
    padding: 1.5rem; }
  .register__main {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .register__main input {
      margin: 1rem;
      padding: 1rem;
      width: 135%;
      border: none;
      border-radius: 0.2rem;
      font-size: 1.4rem; }
    .register__main a {
      font-size: 1.4rem;
      color: white;
      margin-top: 1rem; }
